html {
  background-color: azure;
}

nav ul li {
  margin-left: 15px;
}

li{
  float:right;
}

i{
  visibility: hidden;
  cursor: pointer;
  transition: transform 0.3s;
}

i:hover {
  transform: scale(1.4)
}

header{
  background-color: springgreen;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  margin:0 !important;
  z-index: 2;
}

.page{
  margin-top: 70px;
}

#board-container {
  margin-top: 20px;
  padding: 0 15px;
}

.category-board{
  border: solid red 1px;
  height: 80vh;
  min-width:250px;
}

.category-title-bar:hover i{
  visibility:visible
}

.tasks-container{
  overflow-y: auto;
  height:70vh;
}

.task {
  word-wrap: break-word;
  margin: 10px 0;
  border: solid blue 1px;
}

.task:hover *{
  visibility:visible
}

.icon-container i {
  margin-left:10px;
}

#add-form{
  height: 80vh;
}

#login-button {
  width: 100%;
}